html, body{
    margin: 0;
    background-color: #2F4F30;
    color: #fff;
}

.titulo{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 25px;
}

.carta{
    position: relative;
    width: 130px;
    left: 100px;
    margin-left: -75px;
}
#computadora-cartas, #jugador-cartas{
    height: 250px;
}